html, body {
        display: flex;
        justify-content: center;
        font-family: Roboto, Arial, sans-serif;
        font-size: 12px;
        }
        form {
        border-left: 1px solid #312f2f;
        border-right: 1px solid #e6dede;
        background-color: #c9e0e9;
    }


    input[type=text] {

        width: 100%;
        padding: 16px 8px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
   

    button {
        background-color: #4286f4;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: grab;
        width: 28%;
        border-radius: 20px;
    }
 

    button:hover {
        opacity: 0.8;
    }


    .formcontainer {
        text-align: center;
        margin: 10px 30px 12px;
    }


    .container {
        padding: 16px 0;
        text-align:left;
    }
    

    .dash{
        margin-top: 20px;
        border: 1px dashed #000000ee;
        position: relative;
        height: 120px;       
    }

    input[type=file]{
        display: none;
    }

    .mid{
        color: rgb(61, 135, 233);
        height: 40px;
        width: 150px;
        border-radius: 20px;
        border: 1px solid rgb(117, 164, 208);
        background-color: white;
        position: absolute;
        margin: auto;
        margin-top: 40px;
        left: 0;
        right: 0;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

   


    
